.container {
  display: flex;
  width: 90%;
  margin: 50px auto;
  height: calc(100vh - 100px);
}

/* SideBar */
.side-bar {
  width: 40%;
  position: relative;
  background-color: #fbfbfb;
}

.steps {
  margin-top: 60px;
}

.step-over {
  width: 32px;
  height: 32px;
  font-size: 36px;
  margin-right: 19px;
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  color: #0f8ae7;
}

.step-value {
  border: 2px solid #666666;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  color: #666666;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 19px;
}

.current-step {
  color: #0f8ae7 !important;
  border-color: #0f8ae7 !important;
}

.step-title {
  font-size: 14px;
  color: #666666;
}

.image-cover {
  position: absolute;
  bottom: 0;
  left: 0;
}

/*Step One */
.step-one {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.content {
  width: 65%;
}

.step-class {
  color: #cccccc;
  font-size: 12px;
  font-weight: 500;
}

.step-header {
  font-size: 20px;
  color: #000000;
  font-weight: 500;
}

/*Form*/
.textField {
  margin-bottom: 25px;
}

.textField label {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: #444444;
  font-family: "Poppins", sans-serif;
}

.textField input {
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 12px;
  color: #444444;
  min-height: 40px;
  padding: 0 12px;
  margin-top: 5px;
}

.textField p {
  font-size: 10px;
  color: #999999;
}

.dropdown {
  margin-bottom: 25px;
}

.dropdown label {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: #444444;
  font-family: "Poppins", sans-serif;
}

.dropdown select {
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 12px;
  color: #444444;
  min-height: 40px;
  padding: 0 12px;
  margin-top: 5px;
  background-color: #fff;
}

.dropdown p {
  font-size: 10px;
  color: #999999;
}

.button {
  background-color: #0f8ae7;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  font-size: 12;
  font-weight: 600;
  min-height: 39px;
  border-color: #0f8ae7;
  cursor: pointer;
}

.error {
  border-color: red !important;
}

.error-text {
  color: red !important;
}

.details {
  font-size: 12px;
  color: #444444;
}
